@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif ;
    background-color: #FB8003;
}
.main{
    margin: 0 auto;
    max-width: 1400px;
    background-color: white;
    height: 100vh;
}
header{
    background-color: #FB8003;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h5{
    color: grey;
}
.logo{
    height: 40px;
    width: auto;
    padding-left: 20px;
}


.aot{
    background-image: url("./assets/img/burger_titelbild.png");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.logo-client{
    position: absolute;
    border-radius: 12px;
    height: 80px;
    width: auto;
    left: 5%;
    bottom: 5vh;
}
.our-restaurant{
    padding: 20px;
    
}
.our-restaurant-info{
    display: flex;
    gap: 20px;
}
.bewertungen{
    color: #FB8003;
}
.menu{
    display: flex;
    padding: 5px 20px;
    background-color: #fb7f031e;
    align-items: center;
    gap: 20px;
}
.arrow-icon{
    color: #fb7f0314;
    font-size: 32px;
}
.menu-img{
    position: relative;
    height: 100px;
    width: calc(100% - 40px);
    margin: 10px 20px;
    background-image: url("/assets/img/burger_titelbild.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}